<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="theme-color" content="#01c78c">

        <link rel="stylesheet" href="/static/css/bootstrap.min.css">


		<title>TAMUhack Wifi Speed Monitor</title>
	</head>
    <body>
        <div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<nav class="navbar navbar-default" role="navigation">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						 		<span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="#">
								<b>Wifi Speed Monitor</b> <span class="badge">ALPHA</span>
							</a>
						</div>

						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<a href="/" class="btn btn-default navbar-btn" role="button">Reset</a>
							<a href="/kill" class="btn btn-default navbar-btn" role="button">Shut down</a>
						</div>

					</nav>
				</div>
			</div>

            <div class="row">
                <div class="col-md-12">
					<div class="panel panel-default">
                        <div class="panel-body">
                            <div class="graph" id="pingPlot"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
					<div class="panel panel-default">
                        <div class="panel-body">
                            <div class="graph" id="downloadPlot"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
					<div class="panel panel-default">
                        <div class="panel-body">
                            <div class="graph" id="uploadPlot"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/plotly-latest.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script>
			$(document).ready(function() {
				ajaxd();
				setInterval("ajaxd()", 15000);
			});

			// used to pad int with leading 0
			var pingPlot = document.getElementById('pingPlot');
            var downloadPlot = document.getElementById('downloadPlot');
            var uploadPlot = document.getElementById('uploadPlot');

			var graph_time = [];
			var graph_ping = [];
            var graph_download = [];
            var graph_upload = [];

			function ajaxd() {
                var msg = $.ajax({type: "GET", url: "/get_data", async: false}).responseText;
                console.log(msg);
                var sData = JSON.parse(msg);
                if (sData.length === 4) {
                    // save data to plot
                    graph_time.push(sData[0]);
                    graph_ping.push(sData[1]);
                    graph_download.push(sData[2]);
                    graph_upload.push(sData[3]);
                    if (graph_time.length > 100) {
                        graph_time.shift();
                        graph_ping.shift();
                        graph_download.shift();
                        graph_upload.shift();
                    }
                    graph_update();
                }
            }

            function graph_update() {
                Plotly.newPlot(pingPlot, [ { x: graph_time, y: graph_ping, fill: 'tonexty', type: 'scatter', marker: {color: "#dff0d8"} } ], { height: 120, margin: { l: 30, r: 30, b: 30, t: 0, pad: 0 }, xaxis: {title: 'time (s)'}, yaxis: {title: 'ms'} } );
                Plotly.newPlot(downloadPlot, [ { x: graph_time, y: graph_download, fill: 'tonexty', type: 'scatter', marker: {color: "#d9edf7"} } ], { height: 120, margin: { l: 30, r: 30, b: 30, t: 30, pad: 0 }, xaxis: {title: 'time (s)'}, yaxis: {title: 'Mbit/s'} } );
                Plotly.newPlot(uploadPlot, [ { x: graph_time, y: graph_upload, fill: 'tonexty', type: 'scatter', marker: {color: "#f2dede"} } ], { height: 120, margin: { l: 30, r: 30, b: 30, t: 30, pad: 0 }, xaxis: {title: 'time (s)'}, yxis: {title: 'Mbit/s'} } );
            }
        </script>
    </body>
</html>