<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="theme-color" content="#01c78c">

        <link rel="stylesheet" href="/static/css/bootstrap.min.css">


		<title>TAMUhack Wifi Speed Monitor</title>
	</head>
    <body>
        <div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<nav class="navbar navbar-default" role="navigation">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						 		<span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="#">
								<b>Wifi Speed Monitor</b> <span class="badge">BETA</span>
							</a>
						</div>

						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<a href="/" class="btn btn-default navbar-btn" role="button">Reset</a>
							<a href="/kill" class="btn btn-default navbar-btn" role="button">Shut down</a>
						</div>

					</nav>
				</div>
			</div>

            <div class="row">
                <div class="col-sm-8">
					<div class="panel panel-primary">
                        <div class="panel-heading">
                            Ping
                        </div>
                        <div class="panel-body">
                            <div class="graph" id="pingPlot"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <div class="text-center">
                                <canvas id="pingGauge" height="125" width="220"></canvas>
                                <div id="ping-textfield"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
					<div class="panel panel-primary">
                        <div class="panel-heading">
                            Download
                        </div>
                        <div class="panel-body">
                            <div class="graph" id="downloadPlot"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
					<div class="panel panel-default">
                        <div class="panel-body">
                            <p>Upload</p>
                            <div class="graph" id="uploadPlot"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/plotly-latest.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/gauge.min.js"></script>
        <script src="/static/js/main.js"></script>
    </body>
</html>